<%= render "shared/header" %>

<div class="my-board">
    <div class="free-board">
      <div class="lists">
        <% @lists.each do |list| %>
          <% if list.fee == "free" %>
            <ul class="list-link">
              <li class="list-text"><%= link_to list.title, "#", class: "list-show-link" %></li>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="pay-board">
      <div class="pay-wrapper">
        <div class="lists">
            <% @lists.each do |list| %>
              <% if list.fee == "paid" %>
                <%= link_to list.title, "#", class: "list-text" %>
              <% end %>
            <% end %>
      </div>
    </div>
</div>