<%= render "shared/header" %>

<div class="my-board">
    <div class="free-board">
      <div class="free-wrapper">
      </div>
    </div>

    <div class="pay-board">
      <div class="pay-wrapper">
      </div>
    </div>
</div>