.my-board {
  min-height: 100vh;
  width: 100vw;
  background-color: #e0e0e04f;
  display: flex;
}

.free-board {
  background-color: rgb(250, 250, 250);
  height: 80%;
  width: 50vw;
  border-radius: 15px;
  margin: 130px 20px 50px 50px;
  box-shadow: inset 3px 3px 15px rgba(99, 99, 99, 0.164);
}

.pay-board {
  background-color: rgb(250, 250, 250);
  height: 80%;
  width: 50vw;
  border-radius: 15px;
  margin: 130px 50px 50px 20px;
  box-shadow: inset 3px 3px 15px rgba(99, 99, 99, 0.164);
}

.list-link {
  height: 50px;
  width: 80%;
  background-color: white;
  margin: 15px auto;
  box-shadow:
    0 1.9px 2.5px rgba(211, 211, 211, 0.057),
    0 5px 6.1px rgba(211, 211, 211, 0.076),
    0 10.1px 11.4px rgba(211, 211, 211, 0.086),
    0 19.2px 19.8px rgba(211, 211, 211, 0.092),
    0 38.4px 34.8px rgba(211, 211, 211, 0.1),
    0 101px 74px rgba(211, 211, 211, 0.13);
  border-radius: 3px;
  list-style: none;
  position: relative;
}

.list-link:hover {
  /* box-shadow: inset 1px 1px 10px 2px rgba(235, 235, 235, 0.5);
  background-color: rgba(255, 255, 255, 0.301); */
  bottom: 2px;
  box-shadow:
    0 1.9px 2.5px rgba(78, 78, 78, 0.057),
    0 5px 6.1px rgba(102, 102, 102, 0.076),
    0 10.1px 11.4px rgba(119, 118, 118, 0.086),
    0 14.2px 19.8px rgba(124, 124, 124, 0.092),
    0 22.4px 34.8px rgba(139, 139, 139, 0.1),
    0 35.7px 74px rgba(151, 151, 151, 0.13);
}

.list-link:active {
  top: 4px;
  box-shadow: none;
  box-shadow: inset 3px 3px 30px rgba(73, 73, 73, 0.13);
}

.list-show-link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(124, 124, 124);
  font-size: 13px;
}

.list-show-link:hover {
  color: rgb(68, 68, 68);
}




/* 編集・削除のドロップダウン */

.menu {
  margin: 0 0 0 auto;
  display: block;
  padding: 20px;
  width: 10px;
}

.menu-title {
  color: rgb(204, 204, 204);
  position: relative;
  font-size: 8px;
}

.sub-menu {
  display: none;
}

.sub-menu ul {
  list-style: none;
  width: 30px;
  position: absolute;
}

.sub-menu li {
  border: 1px solid lightgray;
  border-radius: 2px;
  background-color: white;
  font-size: 5px;
  padding: 8px;
  width: 40px;
  position: relative;
  color: grey;
  text-decoration: none;
  z-index: 5;
}

.sub-menu li:hover {
  background-color: rgb(237, 237, 237);
}

.menu:hover .sub-menu {
  display: block;
}





/* 詳細・編集モーダル */

#modal, #edit-modal {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#edit-modal {
  z-index: 100;
}

#mask, #edit-mask {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

#modal-wrapper, #edit-modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 70%;
  max-width: 500px;
  padding: 50px 30px 50px 70px;
  background-color: #fff;
  border-radius: 5px;
}

#close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}

#modal .show-title {
  text-align: center;
}

#modal .show-content {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 40px 0;
}

#modal .show-text {
  display: inline-block;
  text-align: left;
  font-size: 10px;
  width: 55px;
}

#modal .show-data {
  display: inline-block;
  width: 300px;
  font-size: 13px;
  margin: 0 auto;
  text-align: left;
  word-wrap: break-word;
}

#modal .close {
  position: absolute;
  top: 10px;
  right: 20px;
  border: none;
  background-color: white;
  padding: 3px;
  outline: none;
}

.list-show-action-links {
  display: flex;
  float: right;
}

.list-show-action-link {
  margin: 0 10px;
}