* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-wrapper {
  height: 900px;
  width: 100vw;
  /* background-color: #ffffee; */
  display: flex;
  justify-content: space-around;
  font-family: KotoriRose-Regular;
  background: linear-gradient(270deg, #f8e1b3c5, #fffce9aa);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

a {
  color: grey;
}

.left-contents {
  padding: 200px 0 0 0;
}

.login-title {
  padding-left: 80px;
}

.login-title h2 {
  font-size: 50px;
  font-weight: normal;
  color: #444444;
  letter-spacing: 2px;
  font-family: KotoriRose-Bold;
}

.login-title h5 {
  font-size: 20px;
  font-weight: normal;
  margin: 20px 0 50px;
  color: #777777;
  font-family: Mamelon-3HiRegular;
}

.login-border {
  height: 50px;
  width: 300px;
  margin-bottom: 30px;
  padding-left: 35px;
}

.link-option {
  padding-left: 85px;
  color: #999999;
}

.login-form {
  padding: 200px 100px 0 30px;
}

.field {
  margin: 20px 0;
}

.input-title {
  font-size: 15px;
  padding: 10px;
  color: #777777;
}

.input-area {
  padding: 15px 100px;
  border: 1px solid #f5deb3;
  border-radius: 5px;
}

.submit-btn {
  padding: 15px 50px;
  font-size: 15px;
  color: #cccccc;
  background-color: #fffacd;
  border: 1px solid #f5deb3;
  border-radius: 5px;
  transition: 0.5s;
}

.submit-btn:hover {
  background-color: #efc16b;
  color: white;
}

.sns-login {
  list-style: none;
  margin-top: 50px;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.fab {
  margin: 10px 0;
  padding: 10px;
  color: white;
}

.fab:hover {
  transition: 0.5s;
}

/* .fa-facebook-square {
  border: 1px solid rgb(59, 89, 152);
  background-color: rgb(59, 89, 152);
  border-radius: 5px;
  box-shadow: 0 3px rgb(34, 50, 84);
  position: relative;
  text-decoration: none;
} */

.fa-facebook-square {
  border: 1px solid rgb(102, 129, 188);
  background-color: rgb(124, 150, 205);
  border-radius: 5px;
  box-shadow: 0 3px rgb(62, 91, 154);
  position: relative;
  text-decoration: none;
}

.fa-facebook-square:hover {
  border: 1px solid rgb(59, 89, 152);
  background-color: rgb(59, 89, 152);
  box-shadow: 0 3px rgb(34, 50, 84);
}

.fa-facebook-square:active {
  top: 3px;
  box-shadow: none;
}

.fb-login {
  margin-left: 10px;
  font-family: 'san francisco';
  color: white;
  font-weight: bolder;
}

/* .fa-google {
  border: 1px solid rgb(219, 68, 55);
  background-color: rgb(219, 68, 55);
  border-radius: 5px;
  box-shadow: 0 3px rgb(125, 39, 32);
  position: relative;
} */

.fa-google {
  border: 1px solid rgb(246, 158, 150);
  background-color: rgb(232, 128, 118);
  border-radius: 5px;
  box-shadow: 0 3px rgb(219, 109, 99);
  position: relative;
}

.fa-google:hover {
  border: 1px solid rgb(219, 68, 55);
  background-color: rgb(219, 68, 55);
  box-shadow: 0 3px rgb(125, 39, 32);
}

.fa-google:active {
  top: 3px;
  box-shadow: none;
}

.google-login {
  margin-left: 10px;
  font-family: roboto;
  color: white;
  font-weight: bold;
}