* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-wrapper {
  height: 800px;
  width: 100vw;
  background-color: #ffffee;
  display: flex;
  justify-content: space-around;
  font-family: yugothic;
}

a {
  color: grey;
}

.left-contents {
  padding: 200px 0 0 0;
}

.login-title {
  padding-left: 80px;
}

.login-title h2 {
  font-size: 50px;
  font-weight: normal;
  color: #444444;
  letter-spacing: 2px;
}

.login-title h5 {
  font-size: 20px;
  font-weight: normal;
  margin: 20px 0 50px;
  color: #777777;
}

.login-border {
  height: 50px;
  width: 300px;
  margin-bottom: 30px;
  padding-left: 35px;
}

.link-option {
  padding-left: 85px;
  color: #999999;
}

.login-form {
  padding: 200px 100px 0 30px;
}

.field {
  margin: 20px 0;
}

.input-title {
  font-size: 15px;
  padding: 10px;
  color: #777777;
}

.input-area {
  padding: 15px 100px;
  border: 1px solid #f5deb3;
  border-radius: 5px;
}

.submit-btn {
  padding: 15px 50px;
  font-size: 15px;
  color: #cccccc;
  background-color: #fffacd;
  border: 1px solid #f5deb3;
  border-radius: 5px;
  transition: 0.5s;
}

.submit-btn:hover {
  background-color: #f5deb3;
  color: white;
}

.sns-login {
  list-style: none;
  margin-top: 50px;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.fab {
  margin: 10px 0;
  padding: 10px;
  color: white;
}

.fab:hover {
  opacity: 0.9;
}

.fa-facebook-square {
  border: 1px solid rgb(59, 89, 152);
  background-color: rgb(59, 89, 152);
  border-radius: 5px;
  box-shadow: 0 3px rgb(34, 50, 84);
  position: relative;
  text-decoration: none;
}

.fa-facebook-square:active {
  top: 3px;
  box-shadow: none;
}

.fb-login {
  margin-left: 10px;
  font-family: 'san francisco';
  color: white;
  font-weight: bolder;
}

.fa-google {
  border: 1px solid rgb(219, 68, 55);
  background-color: rgb(219, 68, 55);
  border-radius: 5px;
  box-shadow: 0 3px rgb(125, 39, 32);
  position: relative;
}

.fa-google:active {
  top: 3px;
  box-shadow: none;
}

.google-login {
  margin-left: 10px;
  font-family: roboto;
  color: white;
  font-weight: bold;
}